@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-header-underline: #f78166;

  --color-primary: #020409;
  --color-secondary: #0e1117;
  --color-gray: #212830;
  --color-light-gray: #3f444d;
  --color-light-gray-2: #6a7282;
  --color-light-gray-3: #7d8799;
  --color-light-gray-4: #282c36;
  --color-gray-shadow: #2c3038;
  --color-gray-hover: #17191e;
  --color-gray-text: #f0f6fc;

  --color-purple: #6347b5;
  --color-purple-active: #9e97f0;

  --color-red: #de4e49;
  --color-light-red: #35282e;

  --color-green-win-match: var(--color-green-600);
  --color-green-win-match-hover: var(--color-green-700);

  --color-red-lose-match: var(--color-red-400);
  --color-red-lose-match-hover: var(--color-red-500);

  --color-gray-draw-match: var(--color-gray-400);
  --color-gray-draw-match-hover: var(--color-gray-500);

  --color-blue: #4e63d0;
  --color-light-blue: #1f6feb;
  --color-light-blue-2: #4493f8;
  --color-light-blue-3: #2f87f7;
  --color-blue-active: #6a82e2;
}

.text-header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px; /* Расстояние от текста до линии */
  height: 2px; /* Высота подчеркивания */
  background-color: var(--color-header-underline); /* Цвет подчеркивания */
  width: 100%; /* Увеличьте ширину по желанию */
}
.custom-bg {
  background-image: url("/public/maps/de_dust2.jpg");
  background-size: contain; /* или contain */
}

@layer base {
  html {
  }
  body {
    @apply bg-secondary h-full overscroll-none;
    font-family: "Geist", sans-serif;
    height: 100vh;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 0; /* Скрывает полосу прокрутки */
  background: transparent; /* Фон полосы прокрутки */
}

@keyframes fadeInFeatire {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0; /* Начальная ширина */
  }
  to {
    width: 100%; /* Конечная ширина */
  }
}

.fade-in-feature {
  animation: fadeInFeatire 1s ease forwards;
}
.fade-in-home-text-1 {
  animation: fadeIn 3s ease forwards; /* Анимация набора текста */
}

.fade-in-home-text-2 {
  animation: fadeIn 3s ease forwards; /* Анимация набора текста */
}

.typing-container {
  border-right: 2px solid black; /* Курсор */
  white-space: nowrap; /* Запрет на перенос строк */
  overflow: hidden; /* Скрыть текст, который не помещается */
  width: 0; /* Начальная ширина равна 0 */
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0; /* Начальная ширина */
  }
  to {
    width: 100%; /* Конечная ширина */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; /* Прозрачный курсор */
  }
  50% {
    border-color: black; /* Цвет курсора */
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
