@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-header-underline: #f78166;

  --color-primary: #020409;
  --color-secondary: #0e1117;
  --color-gray: #212830;
  --color-light-gray: #3f444d;
  --color-light-gray-2: #6a7282;
  --color-light-gray-3: #7d8799;
  --color-light-gray-4: #282c36;
  --color-gray-shadow: #2c3038;
  --color-gray-hover: #17191e;
  --color-gray-text: #f0f6fc;

  --color-purple: #6347b5;
  --color-purple-active: #9e97f0;

  --color-red: #de4e49;
  --color-light-red: #35282e;

  --color-green-win-match: var(--color-green-600);
  --color-green-win-match-hover: var(--color-green-700);

  --color-red-lose-match: var(--color-red-400);
  --color-red-lose-match-hover: var(--color-red-500);

  --color-gray-draw-match: var(--color-gray-400);
  --color-gray-draw-match-hover: var(--color-gray-500);

  --color-blue: #4e63d0;
  --color-light-blue: #1f6feb;
  --color-light-blue-2: #4493f8;
  --color-light-blue-3: #2f87f7;
  --color-blue-active: #6a82e2;
}

.text-header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px; /* Расстояние от текста до линии */
  height: 2px; /* Высота подчеркивания */
  background-color: var(--color-header-underline); /* Цвет подчеркивания */
  width: 100%; /* Увеличьте ширину по желанию */
}
.custom-bg {
  background-image: url("/public/maps/de_dust2.jpg");
  background-size: contain; /* или contain */
}

@layer base {
  html {
  }
  body {
    @apply bg-secondary h-full overscroll-none;
    font-family: "Geist", sans-serif;
    height: 100vh;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 0; /* Скрывает полосу прокрутки */
  background: transparent; /* Фон полосы прокрутки */
}

@keyframes fadeInFeatire {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0; /* Начальная ширина */
  }
  to {
    width: 100%; /* Конечная ширина */
  }
}

.fade-in-feature {
  animation: fadeInFeatire 1s ease forwards;
}
.fade-in-home-text-1 {
  animation: fadeIn 3s ease forwards; /* Анимация набора текста */
}

.fade-in-home-text-2 {
  animation: fadeIn 3s ease forwards; /* Анимация набора текста */
}
