@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-header-underline: #f78166;

  --color-primary: #020409;
  --color-secondary: #0e1117;
  --color-gray: #4caf50;
  --color-light-gray: #3f444d;
  --color-light-gray-2: #6a7282;
  --color-light-gray-3: #7d8799;
  --color-gray-shadow: #2c3038;
  --color-gray-hover: #17191e;
  --color-gray-text: #f0f6fc;

  --color-purple: #6347b5;
  --color-purple-active: #9e97f0;

  --color-red: #de4e49;
  --color-light-red: #35282e;

  --color-blue: #4e63d0;
  --color-light-blue: #1f6feb;
  --color-light-blue-2: #4493f8;
  --color-light-blue-3: #2f87f7;
  --color-blue-active: #6a82e2;
}

.text-header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px; /* Расстояние от текста до линии */
  height: 2px; /* Высота подчеркивания */
  background-color: var(--color-header-underline); /* Цвет подчеркивания */
  width: 100%; /* Увеличьте ширину по желанию */
}

@layer base {
  html {
  }
  body {
    @apply bg-secondary overscroll-none;
    font-family: "Geist", sans-serif;
    height: 100vh;
  }
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@keyframes fadeInFeatire {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0; /* Начальная ширина */
  }
  to {
    width: 100%; /* Конечная ширина */
  }
}

.fade-in-feature {
  animation: fadeInFeatire 1s ease forwards;
}
.fade-in-home-text-1 {
  animation: fadeIn 3s ease forwards; /* Анимация набора текста */
}

.fade-in-home-text-2 {
  animation: fadeIn 3s ease forwards; /* Анимация набора текста */
}
